@charset "utf-8";
/* CSS Document */
*{ border:0px; margin:0px; padding:0px;font-family:宋体}
html,body{ border:0px; margin:0px; padding:0px;}
#top01{ width:100%; height:30px; background-color: #f9f9f9}
#nav01{ width:980px; height:30px; margin:0px auto; font-size:14px; color:#cccccc}
#nav01 ul{ float:left; list-style:none; width:100%;  text-align:center; line-height:20px; padding-top:2px}
#nav01 ul .tubiao{ padding-left:18px;background-image:url(../images/newbar_an.gif); background-repeat:no-repeat; background-position:0px 4px}
#nav01 ul li{float:left; width:84px; text-align:center; line-height:24px; border-right:1px solid #cccccc}
#nav01 ul li a{ color:#000; text-decoration:none}
#nav01 ul li a:hover{ color: #F00; text-decoration:none}
#nav01 ul li ul { border:1px solid #ccc; display:none; position:absolute;}
#nav01 ul li ul li { float:none; width:87px; background:#eee; margin:0;}
#nav01 ul li ul li a { background:none; color:#000}
#nav01 ul li ul li a:hover { background:#333; color:#fff;}
#nav01 ul li:hover ul { display:block;}
#nav01 ul li.sfhover ul { display:block;}


#top02{ width:100%; height:195px;}
#div01{ padding: 0; margin: 0; width:100%; height:60px;padding-left: 12px; background-image:url(../images/warp001.jpg); background-repeat:no-repeat; margin:0 auto; background-position:center}
#nav02{ width:980px; height:26px; margin:0px auto; border-bottom-left-radius:100px; border-bottom-right-radius:100px; background-color: #010006; text-align:center; font-size:14px; line-height:20px; color:#88b2b3;}

#nav02 a{  text-decoration:none; color:#FFF; }
#nav02 a:hover{ text-decoration:underline; color: #FFF}
#div02{ padding: 0; margin: 0;  width:100%; height:60px; background-image:url(../images/warp002.jpg); background-repeat:no-repeat; margin:0 auto; background-position:center}
#div03{ padding: 0; margin: 0;  width:100%; height:75px; background-image:url(../images/warp003.jpg); background-repeat:no-repeat; margin:0 auto; background-position:center}

#nav{ width:100%; height:40px; margin:0px auto; background-color:#1585db; border-top:1px solid #FFF}
#nav03{ width:980px; height:40px; margin:0 auto; background-color:#1585db; color:#5cabe3; text-align:center; font-family:黑体; line-height:40px;}
#nav03 a{ width:50px; color:#FFF; text-decoration:none}
#nav03 a:hover{ text-decoration:underline; color: #FFF}


#content{ width:980px; height:auto;  margin:0 auto;}

#content .content01{ width:978px; height:74px; background-color:#e2f4fb; border:1px solid #aae4f8; border-top-width:0px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;}
#content .content01 .left{ float:left; width:620px; height:100%; line-height:40px; margin-left:5px;}
#content .content01 .left ul{ list-style:none; font-size:12px; text-align:left; color:#250000}
#content .content01 .left ul li{ width:145px; height:24px; float:left; padding-left:10px; background-image:url(../images/icon2.jpg); background-repeat:no-repeat; background-position:0 18px;}
#content .content01 .left ul a{ color:#505050; text-decoration:none}
#content .content01 .left ul a:hover{ color:#F30; text-decoration: underline}

#content .content01 .right{ float:right; width:340px; height:100%; }
#content .content01 .right .top{ height:30px; width:100%;  text-align:left}
#content .content01 .right .top p{ width:150px ;float:left; height:28px; font-size:12px; line-height:40px;/*background-image:url(../images/icon.jpg); background-repeat:no-repeat; background-position: 0px 14px;*/ padding-left:20px;}
#content .content01 .right .top p.tu{background-image:url(../images/icon.jpg); background-repeat:no-repeat; background-position: 0px 14px;}
#content .content01 .right .top p.tt{background-image:url(../images/icon.jpg); background-repeat:no-repeat; background-position: 0px -14px;}
#content .content01 .right .top p a{ color:#505050; text-decoration:none}
#content .content01 .right .top p a:hover{ color: #F30; text-decoration: underline}
#content .content01 .right .botton{ height:32px; width:100%; }
#content .content01 .right .botton .text{ width:248px; height:22px; border:1px solid #65acc9; float:left}
#content .content01 .right .botton .submit{ width:57px; height:23px; /*background-color:#0fa4ce; border-bottom:1px  solid #0077a7; color:#FFF;*/ background-image:url(../images/icon.gif); background-repeat:no-repeat; background-position:0 0; cursor:pointer; float:left; margin-left:10px}

#content1{ width:980px; height:1400px; margin:10px auto;}
#content1 .left{ width:668px; height:100%; float:left;border: 1px solid #7fc8ff; background-color:#effafe; border-top:0;border-radius:3px ;border-bottom-left-radius:10px; border-bottom-right-radius:10px;}
#content1 .left a{ color: #505050; text-decoration: none}
#content1 .left a:hover{ color: #F30; text-decoration: underline}
#content1 .left h4{ width:100%; height:37px;; background-image:url(../images/t.gif);
    background-repeat:no-repeat; background-position:0 -116px; font-size: 13.5px; line-height:38px;
    text-align: center; color:#ffffff}
#content1 .left h4 .l1{ float: left; width: 200px; height: 100%; margin: 0; padding: 0; text-align:left;padding-left: 30px;}
#content1 .left h4 .l2{ float: right;width: 100px; height: 100%; margin: 0; padding: 0;}
#content1 .left h4 a{ text-decoration: none; color:#ffffff}
#content1 .left h4 a:hover{ text-decoration: underline; color:#ffffff}
#content1 .left .four{ width: 655px; height: 40px; float: left; margin: 0 auto;list-style:none;
    text-align: center;font-size: 13px; margin-left: 12px; }
#content1 .left .four li{ width: 80px; height: 25px; background-image: url("../images/icon.gif");
background-repeat: no-repeat; background-position: -61px 0; float: left; margin: 0 12px; line-height: 24px; margin-top:6px}
#content1 .left .list{ float: left; width: 94%; height: 280px;margin-top:16px;margin-left: 26px; padding-bottom: 6px; border-bottom: 1px #250000 dashed ;font-size: 13.5px;}
#content1 .left .list li{ width: 100%; height: 28px; float: right;}
#content1 .left .list li a{ width: 300px; height: 100%;}
#content1 .left .list li p{ width: 60px; height: 100%; float: right; color: #999999}

#content1 .right{ width:300px; height:100%; float:right;}
#content1 .right a{ color: #505050; text-decoration: none}
#content1 .right a:hover{ color: #F30; text-decoration: underline}
#content1 .right span{text-align: center; width: 298px; height: 328px; float:left; background-color: #effafe; margin-bottom: 10px; border:1px solid #7fc8ff; border-top:0}
#footer{ width:100%; }
#content1 .right span .p{float: left; width:299px; height: 35px; background-image: url("../images/t.gif"); background-repeat: no-repeat;
    background-position: 0 -158px; float: left; line-height: 35px; font-size:13.5px}
#content1 .right span .p .left01{ float: left; width: 100px; height:100%; margin: 0;
    padding: 0;margin-left: 30px;
    text-align: left;}
#content1 .right span .p .right01{ float: right; width: 50px; height:100%; margin: 0;
    padding: 0;}

#content1 .right span .p a{ text-decoration: none; color:#ffffff}
#content1 .right span .p a:hover{ text-decoration: underline; color:#ffffff}
#content1 .right span .fz{float:left;list-style: none; margin-top:10px; height:282px; width: 288px;line-height: 20px;margin-left: 10px;}
#content1 .right span .fz li{width:140px; height:140px;float: left; text-align: center; font-size:12px; margin:auto; }
#content1 .right span .fz li img{ width: 120px; height: 100px;border: 1px solid #bbe2fa}
#content1 .right span .fz01{float:left;list-style: none; margin-top:10px; height:282px; width: 270px;line-height: 20px;margin-left: 20px}
#content1 .right span .fz01 li{ width: 256px; height: 150px; float: left; list-style: none; text-align: center; font-size: 12px;}
#content1 .right span .fz01 li img{ width: 210px; height: 120px;border: 1px solid #bbe2fa}
#content1 .right span .fz02{float:left;list-style: none; margin-top:10px; height:282px; width: 270px;line-height: 20px;margin-left: 20px}
#content1 .right span .fz02 li{ width: 260px; height: 28px; font-size: 12px; text-align: left; float: left}

#footer p{ width:980px;  margin:5px auto; font-size:12px; text-align:center; color:#371700; line-height:24px; padding:20px; padding-bottom:0; padding:0}